section {
    .card {
        height: 12rem;
        border-radius: 30px;
        background: rgb(9, 5, 74);
        background: radial-gradient(circle, rgba(9, 5, 74, 1) 0%, rgba(41, 152, 70, 1) 37%, rgba(231, 10, 237, 1) 100%);
    }
}