section {
    .card {
        box-shadow: 0px 1px 5px 1px rgb(211, 206, 206);
        height: 12rem;
        border-radius: 30px;
        background: rgb(9, 5, 74);
        background: radial-gradient(circle, rgba(9, 5, 74, 1) 0%, rgba(41, 152, 70, 1) 37%, rgba(231, 10, 237, 1) 100%);

        span {
            i {
                font-size: 2rem;
                transform: rotate(90deg);
            }
        }


    }

    .tools {    
        width: 100%;

        .fa-chart-pie {
            font-size: 30px;
            border-radius: 15px;
            background: rgb(1, 2, 48);
            background: linear-gradient(103deg, rgba(1, 2, 48, 1) 0%, rgba(1, 43, 86, 1) 11%, rgba(12, 212, 217, 1) 100%);
        }

        .calendar {
            font-size: 30px;
            border-radius: 15px;
            background: rgb(12, 212, 217);
            background: linear-gradient(103deg, rgba(12, 212, 217, 1) 0%, rgba(119, 208, 21, 1) 100%);
        }

        .fa-file-lines {
            font-size: 30px;
            border-radius: 15px;
            background: rgb(119, 208, 21);
            background: linear-gradient(103deg, rgba(119, 208, 21, 1) 0%, rgba(168, 199, 23, 1) 100%);
        }

        .fa-bookmark {
            font-size: 30px;
            border-radius: 15px;
            background: rgb(168, 199, 23);
            background: linear-gradient(103deg, rgba(168, 199, 23, 1) 0%, rgba(205, 183, 10, 1) 100%);
        }
    }

}