section{
    background-image: url('https://demo.egenslab.com/html/finibus/assets/img/hero-bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    .navbar{
        height: 100px;
        text-align: center;
        justify-content: center;
        .btn-danger{
            border-radius: 15px;
        }
    }
}